.page {
  color: var(--text-color, #f1b2ce);
  font-family: var(--page-font-family, "IBM Plex Mono", monospace);
  font-size: 18px;
  line-height: 24px;
  background-color: var(--page-background-color, #000028);
}

.cover {
  display: grid;
  padding: clamp(12px, 1vw + 4px, 22px);
  min-block-size: 100vh;
}

.decorated-zone {
  position: relative;
  z-index: 2;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 24px;
  height: 24px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--secondary-color, #ff0070);
  border-block-start: 1px solid var(--secondary-color, #ff0070);
  inset-inline-end: clamp(12px, 1vw + 3px, 22px);
  inset-block-start: clamp(12px, 1vw + 3px, 22px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--secondary-color, #ff0070);
  border-block-end: 1px solid var(--secondary-color, #ff0070);
  inset-inline-start: clamp(12px, 1vw + 3px, 22px);
  inset-block-end: clamp(12px, 1vw + 3px, 22px);
}

.shadow-decor {
  text-shadow: 2px 2px var(--accent-color, #ff0070);
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.rec-decor {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  inset-inline-end: 18px;
  inset-block-start: 12px;
  visibility: var(--rec-decor-visibility, visible);
  z-index: 1;
}

.rec-decor::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

.rec-decor::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--accent-color, #ff0070);
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
}

.page-title {
  color: var(--brand-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7rem, 6.8rem + 1.2vw, 7.4rem);
  line-height: 82%;
  text-shadow: 3px 3px 0 var(--accent-color, #ff0070);
}

.title {
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  color: var(--secondary-color, #ff0070);
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--highlight-color, #000028);
}

.section {
  display: grid;
  gap: 18px;
}

.section-gallery {
  gap: 12px;
}

.section-how__title {
  margin-block-end: 18px;
}

.articles-list {
  display: grid;
  gap: 18px;
}

.article {
  display: grid;
  gap: 8px;
}

.gallery-list {
  display: grid;
  gap: 12px;
}

.gallery-list__item-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header {
  position: relative;
  align-items: start;
  background: var(--page-background-image, url("../images/cover-image.png")) center / cover no-repeat fixed;
}

.header__theme-menu {
  justify-self: end;
  margin-block: 60px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  color: var(--secondary-color, #ff0070);
  padding: 2px 10px;
  border: 1px solid transparent;
  text-transform: lowercase;
  line-height: 18px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--secondary-color-o-40, #ff007040);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__title {
  margin-block: 50px;
  background: var(--accent-color, #ff0070);
  color: var(--highlight-color, #000028);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.main {
  display: grid;
  gap: 48px;
  padding: 36px 12px;
}

.footer {
  place-items: center;
}

@media (width >= 768px) {
  .rec-decor {
    inset-inline-end: 26px;
    inset-block-start: 18px;
  }

  .page-title {
    font-size: clamp(7.3rem, 0.5rem + 14vw, 9.7rem);
  }

  .section {
    grid-template-columns: clamp(240px, 30% + 2vw, 320px) 1fr;
  }

  .section-what__articles-list {
    grid-column: span 2;
  }

  .section-gallery {
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .section-how__articles-list {
    grid-column-start: 2;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  .gallery-list__item:first-child,
  .gallery-list__item:last-child {
    grid-column: span 2;
  }

  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3) {
    grid-row: span 2;
  }

  .header {
    padding-inline-start: 0;
  }

  .header__theme-menu {
    margin-block: 160px 65px;
  }

  .header__title {
    justify-self: end;
    width: clamp(360px, 48% + 10px, 480px);
  }

  .main {
    gap: 78px;
    padding: 56px 18px;
  }
}

@media (width >= 1024px) {
  .page-title {
    text-shadow: 3px 3px 0 var(--color-purple-2, #ff0070);
  }

  .section {
    column-gap: 28px;
  }

  .section-what__articles-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 18px;
    margin-block: 0 210px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}
